{% extends 'base.html' %}
{% block sla %}active{% endblock %}
{% block content %}


<div class="jumbotron">
    <b><i><h2>Time Left</h2></b></i>
    <h1 class="display-3">
        <div id="compTime"></div>
    </h1>
    <h2 class="lead">
        Competition started at <b>{{ start_time }}</b> and its duration is {{ duration }}.
    </h2>
</div>

<div class="jumbotron">  
    <b><i><h2>Current Time</h2></b></i>
    <h1><div id="realTime"></div></h1>
</div>


<noscript>
JavaScript is needed for this clock to work. The current competition time remaining, though, is {{ time_left }}.
</noscript>

<script type="text/javascript">

var start_time = "{{start_time}}"

function CompClock(){;
    time_left = "{{ time_left }}"
    time_left = time_left.split(":")
    var seconds = time_left[2], minutes = time_left[1], hours = time_left[0], t;
    var old_min = 0;
    
    countdown()
    
    function countdown() {
        if (hours >= 0 && minutes >= 0 && seconds >= 0) {
            old_min = minutes;
            seconds--;
            if (seconds <= 0) {
                seconds = 59;
                minutes--;
                if (minutes <= 0) {
                    minutes = 59;
                    hours--;
                }
            }
            
            if (seconds <= 9) seconds = "0" + seconds;
            if (minutes <= 9 && old_min != minutes) minutes = "0" + minutes;
            current = document.getElementById('compTime');
            current.innerHTML = hours + ":" + minutes + ":" + seconds;
        }
    }
    
    setInterval(countdown, 1000);
}

CompClock();

function RealTime(){
    var d = new Date();
    var h = d.getHours();
    var m = d.getMinutes();
    var s = d.getSeconds();
    var ap;

    ap = (h >= 12) ? "PM": "AM";
    if (h > 13) h -= 12;
    if (m <=9) m = "0" + m;
    if (s <=9) s = "0" + s;

    var clockText = "" + h + ":" + m + ":" + s + " " + ap;
    document.getElementById('realTime').innerHTML = clockText;
}

RealTime();
setInterval(RealTime, 1000);

</script>

{% endblock %}
