{% extends 'base.html' %}
{% block scores %}active{% endblock %}
{% block content %}

<style>
#teamTotals {
    margin-top: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.94)), url("/static/logo.png");
    background-size: 100px;
}
</style>

<h1>Total Scores</h1>
<script type="text/javascript" src="/static/js/Chart.bundle-2.7.2.min.js"></script>
<canvas id="teamTotals"></canvas><br>


<script>

function randomColor() {
    return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
}

var ctx = document.getElementById('teamTotals').getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for i in range(check_round) %}'{{ i }}'{{ "," if not loop.last }}{% endfor %}],
        datasets: [ {% for team in teams %} {
            label: '{{ team }}',
            fill: false,
            backgroundColor: '#FFFFFF',
				  	borderColor: randomColor(),
            data: [{% for i in range(check_round) %}{{ scores[team][i][3] }}{{ "," if not loop.last }}{% endfor %}]
            }{{ "," if not loop.last }}
        {% endfor %}
        ]
    },

    options: {
		title: {
			display: true,
			text: 'Total Scores'
		},
		scales: {
		    xAxes: [{
			    display: true,
			    scaleLabel: {
				    display: true,
				    labelString: 'Check Round'
			    },
			    ticks: {
			        beginAtZero: true
		        }
		    }],
		    yAxes: [{
			    display: true,
			    scaleLabel: {
				    display: true,
				    labelString: 'Score'
			    }
		    }]
	    }
	}
});

</script>
{% endblock %}
